<div class="container footer">
  <div class="row greyRow">
    <div class="col-md-4">
      <div class="row menuLinksCol">
        <div class="col-md-12">
          <span class="title">Links</span>
        </div>
        <ul class="col-md-12">
          <li  routerLinkActive = "active">
            <a  routerLink = "/home"> Home</a>
          </li>
          <li >
            <a routerLinkActive = "active" routerLink = "/about"> About</a>
          </li>
          <li >
            <a  routerLinkActive = "active" routerLink = "/menu"> Menu</a>
          </li>
          <li >
            <a  routerLinkActive = "active" routerLink = "/menu">Contact</a>
          </li>
         
        </ul>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="row address">
        <div class="col-md-12 title">Our Address</div>
        <div class="col-md-12">214, King Street West</div>
        <div class="col-md-12">Downtown, Toronto</div>
        <div class="col-md-12">ONTARIO</div>
        <div class="col-md-12">+416 1234 5678</div>
        <div class="col-md-12">+416 8765 4321</div>
        <div class="col-md-12">ilfornelio@food.net</div>
      </div>
    </div>
    <div class="col-md-4 pull-right social">
        <i class="fa fa-google-plus-square" style="color: #E04931" aria-hidden="true"></i>
        <i class="fa fa-facebook-square" style = "color: #39589A" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" style = "color: #007AB9" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" style = "color: #50AAF1" aria-hidden="true"></i>
        <i class="fa fa-youtube-square" style = "color: #FF4930" aria-hidden="true"></i>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row greyRow">
    <div class="col-md-12 copyright">
      &copy;Copyright 2015 Ristorante Il Fornello
    </div>
  </div>
</div>